---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "James Tsetsekas"
  : "James Tsetsekas - Full Stack Web Developer";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="James Tsetsekas - Full Stack Web Developer."
      canonical={canonicalURL}
      twitter={{
        creator: "@JamesTsetsekas",
        site: "@JamesTsetsekase",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `James Tsetsekas - Full Stack Web Developer`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "James Tsetsekas - Full Stack Web Developer",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
        ::selection{
        background-color: rgba(0,0,0,.7) !important;
        color: rgba(255,255,255,1) !important;
      }
    </style>
  </body>
</html>
